.boundary{
    position: relative;
    top:350px;
}
.offer-items{
    position: relative;
    background-color: black;
    top: 327px;
   color: antiquewhite;
    right: 0;
    text-align: center;

}
.features{
    display: flex;
    
}
.features > *{
    flex:1 1 0;
}
.minium-order{
    min-width:max-content;
}
